TEI {
	display:block;
	background-color:black;
	font-family:courier, fixed, monospace;
	color:white;
	padding:0.5em;
}
teiHeader {
	display:block;
	background-color:blue;
}
teiHeader * {
	display:block;
	-oxy-display-tags:none;
}
text, body {
	display:block;
}
l { display:inline-block; -oxy-display-tags:none; }
num,s,w,pc { display:inline; -oxy-display-tags:none; }
num { color:lightblue; }
s { color:lightgreen; }
w { color:orange; }
lb { -oxy-display-tags:none; display:inline; }
lb::after { content:"\a"; }
