ab { display:block; color:black; font-family:courier, fixed, monospace; }

num { color:magenta; }
num[type="ln"] { color:purple; }
seg[type="instruction"] { color:black; }
seg[type="command"] { color:blue; }
seg[type="argument"] { color:orange; }
seg[type="call"] { color:black; }
seg[type="function"] { color:green; }
seg[type="parameters"] { color:orange; }
pc[type="operator"] { color:red; }
pc[type="separator"] { color:purple; }

l { display:block; }
s { color:green; }
w { color:orange; }
num { color:blue; }
